body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3 {
  text-align: center;
  margin-top: 5%;
}

#img, #temp {
  margin: 0 auto;
  display: inline;
}

#group1, #group2 {
  text-align:center;
}

#location, #summary, #wind  {
  display: inline;
  padding: 10%;
  border: black solid 1px;
  background: rgba(100,100,100,.2);
}